<%= provide(:title, "All Launches") %>

<h1>All Launches</h1>

<table border="1">
  <thead>
    <td>ID</td>
    <td>Data</td>
    <td>Miles</td>
    <td>Price</td>
    <td>Total</td>
    <td>Options</td>
  </thead>

  <%= render @launches %>
  
</table>

