<%= provide(:title, "All Launches") %>

<table class="table table-striped">
  <thead>
    <td>ID</td>
    <td>Data</td>
    <td>Miles</td>
    <td>Price</td>
    <td>Total</td>
    <td>Options</td>
  </thead>

  <%= render @launches %>
  
</table>

